@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
  .navButton {
    @apply px-6 py-2 border;
  }
} */

.navButton {
  border: 1px solid #66fcf1;
  border-radius: 0px;
  background: linear-gradient(to right, #66fcf1 50%, #0b0c10 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.1s ease-out;
}

.active {
  font-weight: bold;
}
